<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental12345.com</title>
    <link rel="stylesheet" href="../static/index.css">

</head>
<body>
    <!-- Header -->
    <header>
        <div>
            <h1>Rental12345.com</h1>
            <nav>
                <a href="#services">Layanan</a>
                <a href="#about">Tentang Kami</a>
                <a href="#contact">Kontak</a>
                <a href="admin/login.html">Login sebagai Admin</a>
                <a href="user/login.html">Login sebagai Member</a>
            </nav>
        </div>
    </header>

    <!-- Bagian Subjudul -->
    <section>
        <div>
           <img src="banner.png" alt="">
            
        </div>
    </section>

    <!-- Bagian Layanan -->
    <section id="services">
        <div>
            <h2>Layanan Kami</h2>
            <div>
                <div>
                    <h3>Sewa Film</h3>
                    <p>Rental12345.com adalah pilihan terbaik bagi para penggemar film yang ingin menyewa koleksi film yang beragam tanpa iklan. </p> 
                      
                    <p>Kami berbagai judul, genre, yang dapat dinikmati secara instan dengan biaya terjangkau tanpa iklan yang mengganggu. </p>   
                    
                    <p>Kami juga menawarkan antarmuka pengguna yang intuitif dan menarik serta akses yang mudah ke koleksi film yang up-to-date. </p>
                    
                    <p>Kami memiliki genre action, horror, komedi, romance, hingga sci-fi. </p>  
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Bagian Tentang Kami -->
    <section id="about">
        <div>
            <h2>Tentang kami</h2>
            <p> Kami menyediakan film-film terbaru.</p>
           
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div>
            <h2>Kontak Kami</h2>
            <p>Silakan Bertanya</p>
            <form>
                <input type="text" placeholder="Nama" required>
                <input type="email" placeholder="Email" required>
                <textarea placeholder="Pesan" required></textarea>
                <button type="submit">Kirim pesan</button>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div>
            &copy; 2024 Rental12345.com 
            <br>
             All rights reserved.
        </div>
    </footer>
</body>
</html>