<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin/style.css">
    <title>Tambah Peminjaman</title>
</head>
<body>
    <div>
        <h1>Tambah Peminjaman</h1>
        <form id="film-form">
            <label for="judul">Judul Film:</label>
            <input type="text" id="judul" name="judul" required><br><br>

            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" required><br><br>

            <label for="aktor">Aktor:</label>
            <input type="text" id="aktor" name="aktor" required><br><br>

            <label for="poster">Durasi Peminjaman:</label>
            <input type="text" id="durasi" name="durasi" required><br><br>

            <button type="button" id="submit-film">Tambah</button>
        </form>
        <a href="pinjam.html" class="back-btn">Kembali</a>
    </div>
</body>
</html>
