<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Film</title>
    <link rel="stylesheet" href="../../static/user/pinjam.css">

</head>
<body>
    <div id="container">
        <h1>Layanan Rental Film</h1>
        <table id="filmTable">
            <thead>
                <tr>
                    <th>Nomor</th>
                    <th>Judul Film</th>
                    <th>Lama Peminjaman (Hari)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically added here -->
            </tbody>
        </table>
        <input type="button" value="Tambah Pesanan">
        <a href="dashboard.html">Kembali ke Beranda</a>
    </div>

    
</body>
</html>
