/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    box-sizing: border-box; /* Padding dihitung dalam width */
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; /* Mengurangi margin bawah */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px; /* Atur jarak antar input */
    box-sizing: border-box;
}

input:focus {
    border-color: darkblue;
    outline: none;
}

button {
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkblue;
}

p {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
